@model PaginatedList<WETT.Data.Product>

@{
    ViewData["Title"] = "Product";
}

<h1>Product</h1>

<p> 
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Description or Sku: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
              
                Supplier
            </th>
            <th>
               
                 <a asp-action="Index" asp-route-sortOrder="@ViewData["SkuParm"]" asp-route-currentFilter ="@ViewData["CurrentFilter"]">Sku</a>
            </th>
            <th>
               
                 <a asp-action="Index" asp-route-sortOrder="@ViewData["DescriptionParm"]" asp-route-currentFilter ="@ViewData["CurrentFilter"]">Description</a>
            </th>
            <th>
               
                SingleWeight
            </th>
            <th>
               
                ContainerWeight
            </th>
            <th>
              
               CaseWeight
            </th>
            <th>
               
                PackSize
            </th>
            <th>
                
                HlSingle
            </th>
            <th>
               
                HlContainer
            </th>
            <th>
                
                HlCase
            </th>
        
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sku)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SingleWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContainerWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PackSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HlSingle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HlContainer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HlCase)
            </td>
       <!--      <td>
                @Html.DisplayFor(modelItem => item.InsertUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsertTimestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateTimestamp)
            </td>-->
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
