@model WETT.Data.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MbllCustomerNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MbllCustomerNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenceNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Province)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Province)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone1Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone1Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone2Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone2Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone3Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone3Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsertUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsertUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsertTimestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsertTimestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateTimestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateTimestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CallFrequency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CallFrequency.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cdos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cdos.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerSource.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerStatusCodeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerStatusCodeNavigation.CustomerStatusCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerTypeCodeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerTypeCodeNavigation.CustomerTypeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Segment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Segment.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Territory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Territory.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CustomerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
